version: '3.8'

services:
  frontend:
    build:
      context: ./frontend/my-app
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    environment:
      - BACKEND_URL=http://backend:8000
    depends_on:
      - backend

  backend:
    build:
      context: .
      dockerfile: Dockerfile

    ports:
      - "8000:8000"
    environment:
      - DATABASE_URL=postgresql://neondb_owner:npg_qaBvAM2C4UYH@ep-bitter-wildflower-a8heqvd7-pooler.eastus2.azure.neon.tech/neondb?sslmode=require

volumes:
  postgres_data:
